<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Edu Tech{% endblock %}</title>

  
    
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>


    <div class="container">
    </div>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('add_video') }}">Admin</a></li>
                
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alert alert-{{ messages[0][0] }}">
      {{ messages[0][1] }}
    </div>

  {% endif %}
{% endwith %}

        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Edu Tech. All rights reserved.</p>
    </footer>
 
</body>
</html>
